*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    /* background: linear-gradient(to right, #00AAFF, #00FF6C); */
  }
  
  .calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  }
  
  .calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid #e6a4b4;
    outline: none;
    background-color: #f3d7ca;
  }
  
  .calculator-grid > button:hover,
  .calculator-grid > button:focus {
    background-color: rgba(255, 255, 255, .9);
  }
  
  .span-two {
    grid-column: span 2;
  }
  
  .output {
    grid-column: 1 / -1;
    background-color: #c86b85;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
  }
  
  .output .current-operand {
    color: white;
    font-size: 2.5rem;
  }

  .heading {
    background-color: white;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    margin: 0 auto;
   
}
.background {
  height: 400vh;
  background-color: #FFD1DC;
}

.calculator-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px; /* Added padding to create a gap at the sides of the page */
}

.box {
  width: 300px;
  height: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 0 40px; /* Increased margin to create a larger gap between the boxes and the calculator */
  font-weight: bold;
}

.calculator-wrapper {
  max-width: 80%; /* Adjust this value as needed */
  flex-grow: 1; /* This will make the calculator take up the remaining space */
  margin: 0 20px; /* This will create a gap between the calculator and the boxes */
}