/* html,body{
    width: 100%;
    height: 100%;
  }
  
  .container{
    padding: 75px 0;
    margin: 0 auto;
    width: 1140px;
  }
  
  h1{
    position: relative;
    margin-bottom: 45px;
    font-family: 'Oswald', sans-serif;
    font-size: 44px;
    text-transform: uppercase;
    color: #424242;
  } */
  
  .gallery-wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70vh;
  }

  .text {
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
    vertical-align: middle;
    margin-top: 50%;
  }
  
  
  
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    
    &:hover{
      flex: 7;
    }
  }
  
  .item-1 { 
    background-image: url('../../andrewpig.png');
}

.item-2 { 
    background-image: url('../../michaelapig.png');
}

.item-3 { 
    background-image: url('../../annapig.png');
}

.item-4 { 
    background-image: url('../../lucypig.png');
}

.item-5 { 
    background-image: url('../../adelepig.png');
}
  
  
  

  
  
  #audioTest{
    border: none;
    

}
  
  
  
  .social{
    position: absolute;
    right: 35px;
    bottom: 0;
    
    img{
      display: block;
      width: 32px;
    }
  }