


/* navbar */

.gradient-custom {
  /* fallback for old browsers */
  background: #141313;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, 
  #f5eee6, 
  #f3d7ca,
  #e6a4b4,
  #c86b85 
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, 
  #f5eee6, 
  #f3d7ca, 
  #e6a4b4,
  /* #3a3a3a, */
  #c86b85 
  
  );
}


.navbar-brand {
  width: 100px; /* adjust as needed */
  height: 100px; /* adjust as needed */
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed; /* Set navbar position to fixed */
  top: 0; /* Position navbar at the top of the viewport */
  width: 100%; /* Make the navbar full-width */
  z-index: 3; /* Set a higher z-index to ensure it appears on top of the background */
}

.navbar a {
  text-decoration: none;
  color: #000; /* Black color */
  font-weight: bold; /* Make the text bold */
  padding: 10px 20px; /* Adjust padding for button size */
  border: 2px solid #000; /* Black border */
  background-color: #fff; /* White background */
  border-radius: 5px; /* Rounded corners */
  margin: 0 5px; /* Add margin between buttons */
}


.navbar a:hover {
  color: #fff; /* Change text color on hover */
  background-color: #000; /* Change background color on hover */
}

